body {
    ;
    font-family: 'Open Sans', sans-serif;
    
}
#fond{
  /*background-image: linear-gradient( #30cfd0 , #330867 );*/
  height:100VH;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#rond
{
  border-radius: 100%;
  background-image: url('https://www.mairie-lognes.fr/medias/2019/08/dechets.jpg');
  height:40VH;
  width:40VW;
  margin-top:20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;

}


h1
{
   text-align: center;
}
img
{
  text-align: center;
}
#image
{
  
  height:120px;
  border-radius: 25px;
  background-color: #bc162a;
  
  

}
html,body{
  overflow: auto;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;


}

#but
{
  border-radius: 100%;
  background-color:#2f54a5;
  width:10VW;
  height:10VW;
  margin-top: 10px;
  margin-bottom: 10px;
}
#but:hover
{
  cursor:pointer;
  border-bottom:4px black solid;
  border-right: 2px black solid;
}

#battlefield
{
    
    height:40VH;
    /*height:500px;*/
    background-color:#c5f7b1; 
    /*background-image:url('../sprite/battlefield1.jpg');*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    
    border-radius: 25px;
    margin-top: 10px;
    
    
  }
    


#customButton{  /* style the dummy upload button *
  background: yellow;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  color: red;
    margin:2px;
}*/
}
#customButton:hover
{
    cursor:pointer;
    border-bottom:4px white solid;
    border-right: 2px white solid;
}


.gauche
{
    text-align:left;   
    margin:2px;
}
.tooltiptext {
    
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin:2px;
    
    /* Position the tooltip */
    
    z-index: 1;
    
    left: 105%;
    
    
}

.icon {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 55px;
  display: inline-block;
 margin:2px; 
 padding:1px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 1em;
  font-family: sans-serif;
    background-color:black;
    
}


/**
 * The "shine" element
 */

.icon:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */

.icon:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
    border-bottom: 4px white solid;
    
}

/* Active state */

.icon:active:after {
  opacity: 0;
}

input
{
 border-radius: 6px;   
}
input:focus
{
    background-color:lightsteelblue;   
}


input[type=button]
{
    box-shadow: 1px 1px 1px black;   
}
input[type=button]:hover
{
    box-shadow:  -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    
}
#getval

{
    display:none;   
}
.none
{
  display:none;
}









/*   

    position: relative;
    max-width: 205px;
    margin: 50px auto;
    .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 0%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
*/